html, body {
  background-image: url(./img/홈13.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  font-family: 'DX타자Medium';
}

@font-face {
  font-family: "DX타자Medium";
  src: url("./font/DX타자Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-weight: lighter;
  font-size:xx-large;
  color: white;
  text-align: center;
  margin-top: 10%;
  line-height: 130%;
}

.a{
  position: absolute;
  left: 74%;
  top: 27%;
  transform: translate(-50%, -50%);
}

.b{
  position: absolute;
  left: 56%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.c{
  position: absolute;
  left: 19%;
  top: 39%;
  transform: translate(-50%, -50%);
}

.d{
  position: absolute;
  left: 12%;
  top: 49%;
  transform: translate(-50%, -50%);
}

.e{
  position: absolute;
  left: 13%;
  top: 58%;
  transform: translate(-50%, -50%);
}

.f{
  position: absolute;
  left: 14%;
  top: 63%;
  transform: translate(-50%, -50%);
}

.g{
  position: absolute;
  left: 19%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.h{
  position: absolute;
  left: 57%;
  top: 59%;
  transform: translate(-50%, -50%);
}

.i{
  position: absolute;
  left: 66%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.j{
  position: absolute;
  left: 63%;
  top: 36%;
  transform: translate(-50%, -50%);
}

.k{
  position: absolute;
  left: 46%;
  top: 42%;
  transform: translate(-50%, -50%);
}

.l{
  position: absolute;
  left: 22%;
  top: 43%;
  transform: translate(-50%, -50%);
}

.m{
  position: absolute;
  left: 31%;
  top: 52%;
  transform: translate(-50%, -50%);
}

.n{
  position: absolute;
  left: 53%;
  top: 57%;
  transform: translate(-50%, -50%);
}

.o{
  position: absolute;
  left: 61%;
  top: 51%;
  transform: translate(-50%, -50%);
}

.p{
  position: absolute;
  left: 69%;
  top: 42%;
  transform: translate(-50%, -50%);
}

.q{
  position: absolute;
  left: 76%;
  top: 33%;
  transform: translate(-50%, -50%);
}

.button{
  position:absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}